:root {
  --alata: 'Alata', sans-serif;
  --lato: 'Lato', sans-serif;

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  --white-hover: hsla(0, 0%, 100%, 0.65);

  --font-weight-light: 300;
  --font-weight-regular: 400;

  --max-width: 1200px;
  --side-padding: 5vw;
}

/*Reset styles*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
}

a,
button {
  all: unset;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

/*Reset styles end*/

body {
  font-family: var(--lato);
  position: relative;
  color: var(--black);
  background-color: var(--white);
}

.title {
  color: var(--white);
  margin-block: 6rem;
}

.logo {
  z-index: 2;
  font-size: 2rem;
  color: var(--white);
}

/*Hero*/

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./imagenes/image-hero.jpg) no-repeat center;
  background-size: cover;
  padding: 4rem var(--side-padding);
}

.header {
  max-width: var(--max-width);
  margin: auto;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__link {
  color: var(--white);
  opacity: 1;
}

.content {
  max-width: var(--max-width);
  margin: auto;
}

.container {
  margin: 6rem 0 5rem 0;
  padding: 2rem;
  border: 1.8px solid var(--white);
  max-width: 30rem;
}

.container__title {
  color: var(--white);
}

.section {
  max-width: var(--max-width);
  padding: 4rem var(--side-padding);
  margin: auto;
}

.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.content__title {
  margin-bottom: 1rem;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.section-2__title {
  grid-area: title;
}

.button {
  max-width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--black);
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--black);
  transition: all 0.2s ease-in-out;
}

.button__caption {
  color: var(--black);
}

.button:hover,
.button:focus {
  background-color: var(--black);
}

.button:hover .button__caption,
.button:focus .button__caption {
  color: var(--white);
}

.grid {
  grid-area: grid;
  margin: 5rem 0;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 28rem;
}

.card img {
  height: 20rem;
  object-fit: cover;
}

.footer {
  padding: 3rem var(--side-padding);
  background-color: var(--black);
}

.footer__container {
  margin: auto;
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
}

.copyright {
  font-size: 1rem;
  text-align: center;
  color: var(--white);
}
